.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: #e9e9e9;
}

.nav {
    margin-bottom: 30px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.item a {
    display: inline-block;
    padding: 5px 0;
    color: #231f20;
    outline-color: #231f20;
}

.item a:hover {
    text-decoration: none;
}

.item a.active {
    color: #aa1f23;
}