@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto&display=swap');

.app-wrapper {
    display: grid;
    grid-template-areas: "header header" "sidebar content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .app-wrapper {
        width: 100%;
    }
}